<ion-content [fullscreen]="true">
  <ion-slides [options]=swiperOpts>
    <ion-slide>
      <ion-button
        (click)="scan()"
        expand="full"
        fill="outline"
        size="large"
        shape="round"
      >
      scanCode
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>